block vars

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    //- TODO description
    //- TODO keywords
    //- TODO apple-touch-icon
    //- TODO favicon
    link(href=require('styles/main.scss') rel="stylesheet")
    block styles
    block scripts
  body.page
    .main-logo
      img(src=require("assets/images/logo.svg"), alt="logo")
    main.page__content
      block content
    