// .color-box {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   gap: 40px;
//   & + & {
//     margin-top: 20px;
//   }
// }

.text {
  font-family: Montserrat, sans-serif;

  &_variant_h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1f2041;
  }

  &_variant_h2 {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1f2041;
  }
  &_variant_h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1f2041;
    text-transform: uppercase;
  }
  &_variant_p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
  &_weight_400 {
    font-weight: 400;
  }
  &_weight_700 {
    font-weight: 700;
  }
  &_color {
    &_dark100 {
      color: #1f2041;
    }
    &_dark75 {
      color: #1f2041;
      opacity: 0.75;
    }
    &_dark50 {
      color: #1f2041;
      opacity: 0.5;
    }
    &_dark25 {
      opacity: 0.25;
      color: #1f2041;
    }
  }
}
