@use "styles/colors";
// можно убрать префикс (namespace) colors.
// @use "styles/colors" as *;

.text {
  font-family: Montserrat, sans-serif;

  &_variant_h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: colors.dark(100);
  }

  &_variant_h2 {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: colors.dark(100);
  }
  &_variant_h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: colors.dark(100);
    text-transform: uppercase;
  }
  &_variant_p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: colors.dark(75);
  }
  &_weight_400 {
    font-weight: 400;
  }
  &_weight_700 {
    font-weight: 700;
  }
  &_color {
    &_dark100 {
      color: colors.dark(100);
    }
    &_dark75 {
      color: colors.dark(75);
    }
    &_dark50 {
      color: colors.dark(50);
    }
    &_dark25 {
      color: colors.dark(25);
    }
  }
}
