mixin ColorBox(name, number, color)
  .color-box 
    .color-box__square(class='color-box__square_color_' + color)
    .color-box__text
      p.color-box__name= name
      p.color-box__number= number 
