.color-box {
  &__square {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_color {
      &_dark100 {
        background: #1f2041;
      }
      &_dark75 {
        background: #1f2041;
        opacity: 0.75;
      }
      &_dark50 {
        background: #1f2041;
        opacity: 0.5;
      }
      &_dark25 {
        opacity: 0.25;
        background: #1f2041;
      }
      &_dark5 {
        opacity: 0.05;
        background: #1f2041;
      }
      &_purple {
        background: #bc9cff;
      }
      &_green {
        background: #6fcf97;
      }
    }
  }
  &__text {
    width: 171px;
    height: 56px;
  }
  &__name {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 19px;
    line-height: 28.5px;
  }
  &__number {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 19px;
    line-height: 27.79px;
  }
}
