.color-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  & + & {
    margin-top: 20px;
  }
  &__square {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_color {
      &_dark100 {
        background: #1f2041;
      }
      &_dark75 {
        background: #1f2041;
        opacity: 0.75;
      }
      &_dark50 {
        background: #1f2041;
        opacity: 0.5;
      }
      &_dark25 {
        opacity: 0.25;
        background: #1f2041;
      }
      &_dark5 {
        opacity: 0.05;
        background: #1f2041;
      }
      &_purple {
        background: #bc9cff;
      }
      &_green {
        background: #6fcf97;
      }
    }
  }
  &__text {
    font-family: Montserrat;
    font-size: 19px;
    line-height: 1.46;
  }
  &__name {
    font-weight: 700;
  }
}
