.colors-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 145px;
  padding-left: 150px;
  padding-right: 158px;
  justify-content: space-between;

  // align-items: stretch;

  &__colors {
    // position: absolute;
  }
  &__typography {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    // row-gap: 50px;
    justify-content: space-between;
    align-items: stretch;
    // width: 440px;
    flex-wrap: wrap;
    // align-items: center;
    gap: 30px;

    &__sing {
      text-align: right;
      column-gap: 30px;
      // color: colors.dark(25);
      justify-content: flex-start;
      row-gap: 50px;
    }
    &__text {
      // position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 50px;
    }
  }
}
.type-list__item {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  // margin-top: 50px;

  // &:first-of-type {
  //   margin-top: 0;
  // }
  // &:not(:first-of-type) {
  //   margin-top: 100px;
  // }
  // & + & {
  //   margin-top: 50px;
  // }
}

.type-list__item + .type-list__item {
  margin-top: 50px;
}

.type-list__variant {
  width: 40px;
  text-align: right;
}
