extends ~layouts/main-layout/main-layout
include ~components/ColorBox/ColorBox 
include ~components/Text/Text
include ~components/TextField/TextField 

block vars
  -
    const title = 'Form Elements'

block content
  .form-elements-page
    +TextField({type:'email', placeholder:'Email'})
    +TextField({value:'This is pretty awesome'})
