@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Bold.woff2"),
    url("/src/assets/fonts/Montserrat-Bold.woff");
  font-weight: bold;
  font-variant: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Regular.woff2"),
    url("/src/assets/fonts/Montserrat-Regular.woff");
  font-weight: normal;
  font-variant: normal;
}
