@use "components/ColorBox/style.scss";
@use "components/Text/Text.scss";
@use "components/TextField/TextField.scss";
@use "pages/colors/colors.scss";
@use "pages/form-elements/form-elements.scss";
@use "styles/fonts.scss";
@use "layouts/main-layout/main-layout.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-decoration: none;
}
