@use "components/ColorBox/style.scss";
@use "components/Text/Text.scss";
@use "pages/colors/colors.scss";
@use "pages/form-elements/form-elements.scss";
@use "styles/fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-decoration: none;
}
.main-logo {
  padding-left: 30px;
  padding-top: 30px;
}
