@use "styles/colors";
@use "styles/mixins";

.text-field {
}
.text-field__input {
  @include mixins.text("p");

  width: 320px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid colors.dark(25);
  margin-top: 5px;
  padding-inline: 15px;
}

.text-field__input::placeholder {
  color: colors.dark(25);
  opacity: 1;
}

.text-field__input:hover,
.text-field__input:focus {
  border: 1px solid colors.dark(50);
}
